{
  "extends": "eslint:recommended",
  "globals": {
    "danger": true,
    "message": true,
    "warn": true,
    "fail": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "node": true
  }
}
